name: macOS
on:
  push:
    branches:
      - '*'
    tags:
      - '*'
  pull_request:
    branches:
      - master
env:
  SCHEME: chez
jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install build dependencies
        run: |
          brew install chezscheme
          brew install erlang
          brew install coreutils
      - name: Build and test Idris 2 from bootstrap
        run: cd idris2 && make bootstrap
        shell: bash
